In [2]:
import pandas as pd
import numpy as np

In [3]:
path_data_2015 = '/Users/julianna/Documents/EnSys_Key/Data/World_2015_2019_2020.xlsx'

# Чтение данных с первого листа
df = pd.read_excel(path_data_2015, sheet_name=0)  # sheet_name=0 выбирает первый лист

df

,Unnamed: 0,Coal,Crude oil,Oil products,Natural gas,Nuclear,Hydro,"Wind, solar, etc.",Biofuels and waste,Electricity,Heat,Total
0,NaN,TJ,TJ,TJ,TJ,TJ,TJ,TJ,TJ,TJ,TJ,TJ
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Production,162 104 979,184 982 442,NaN,124 572 892,28 063 288,14 046 066,8 544 353,47 283 521,NaN,84 408,569 681 952
3,Imports,32 507 817,97 319 436,53 241 664,36 607 027,NaN,NaN,NaN,1 007 380,2 704 618,259,223 388 204
4,Exports,-33 419 137,-95 024 497,-57 078 886,-37 922 383,NaN,NaN,NaN,-743 557,-2 633 810,-225,-226 822 497
5,International marine bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,International aviation bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Stock changes,-308 897,-637 799,-837 857,-758 887,NaN,NaN,NaN,14 765,NaN,NaN,-2 528 676
8,Total energy supply,160 884 761,186 639 583,-4 675 079,122 498 648,28 063 288,14 046 066,8 544 353,47 562 110,70 807,84 442,563 718 983
9,Transfers,-40 661,-9 389 954,10 501 947,NaN,NaN,NaN,NaN,-1 251,NaN,NaN,1 070 079
10,Statistical differences,-231 349,466 495,1 476 304,1 012 173,NaN,NaN,5 598,-1 792,-303 648,43 197,2 466 977
11,Electricity plants,-71 828 261,-1 980 508,-7 687 345,-34 446 543,-27 864 935,-14 046 066,-6 622 247,-3 580 170,73 890 188,-36 542,-94 202 433
12,CHP plants,-25 263 716,-294,-761 394,-13 418 020,-193 750,NaN,-136 797,-2 725 893,13 624 015,9 552 827,-19 323 025
13,Heat plants,-1 003 156,-27 378,-483 508,-2 617 182,-4 601,NaN,-61 244,-482 124,-15 611,4 119 715,-575 094
14,Gas works,-364 221,-125,-113 375,192 695,NaN,NaN,NaN,-8 871,NaN,NaN,-293 899
15,Oil refineries,NaN,-176 865 213,173 046 376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3 818 836
16,Coal transformation,-11 984 053,NaN,-111 380,-2 686,NaN,NaN,NaN,-6 844,NaN,NaN,-12 104 965
17,Liquefication plants,-434 600,601 916,NaN,-749 204,NaN,NaN,NaN,NaN,NaN,NaN,-581 888
18,Other transformation,-15 407,1 948 968,-1 489 906,-538 257,NaN,NaN,NaN,-3 398 232,NaN,-22 801,-3 515 637
19,Energy industry own use,-3 838 596,-489 144,-8 953 671,-11 487 373,NaN,NaN,-20,-598 580,-7 426 007,-1 550 806,-34 344 200
20,Losses,-100 085,-355 025,-12 892,-932 473,NaN,NaN,-684,-10 381,-6 929 583,-794 978,-9 136 105
21,Total final consumption,45 780 649,549 318,160 736 073,59 511 775,NaN,NaN,1 728 956,36 747 967,72 910 159,11 395 054,389 359 953
22,Industry,36 610 337,133 685,12 319 359,22 782 798,NaN,NaN,27 061,8 859 760,30 685 482,5 244 241,116 662 727
23,Transport,2 605,619,104 293 595,4 129 486,NaN,NaN,NaN,3 172 450,1 111 286,NaN,112 710 044
24,Residential,3 169 695,NaN,8 658 237,17 749 743,NaN,NaN,1 345 692,23 009 499,19 731 073,4 295 954,77 959 897
25,Commercial and public services,1 450 506,NaN,3 411 667,7 628 658,NaN,NaN,290 369,1 098 886,16 409 040,1 442 240,31 731 369
26,Agriculture / forestry,648 743,420,4 456 532,392 677,NaN,NaN,53 202,425 600,2 100 539,128 822,8 206 538
27,Fishing,24,NaN,282 260,4 040,NaN,NaN,2 086,931,27 397,1 607,318 348
28,Non-specified,1 146 818,2 440,941 155,144 913,NaN,NaN,10 542,180 838,2 845 339,282 187,5 554 237
29,Non-energy use,2 751 917,412 152,26 373 264,6 679 455,NaN,NaN,NaN,NaN,NaN,NaN,36 216 790

In [4]:
#Remove unit row
df = df.drop(0)
#Rename index column
df = df.rename(columns={'Unnamed: 0':'Navn'})

df

,Navn,Coal,Crude oil,Oil products,Natural gas,Nuclear,Hydro,"Wind, solar, etc.",Biofuels and waste,Electricity,Heat,Total
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Production,162 104 979,184 982 442,NaN,124 572 892,28 063 288,14 046 066,8 544 353,47 283 521,NaN,84 408,569 681 952
3,Imports,32 507 817,97 319 436,53 241 664,36 607 027,NaN,NaN,NaN,1 007 380,2 704 618,259,223 388 204
4,Exports,-33 419 137,-95 024 497,-57 078 886,-37 922 383,NaN,NaN,NaN,-743 557,-2 633 810,-225,-226 822 497
5,International marine bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,International aviation bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Stock changes,-308 897,-637 799,-837 857,-758 887,NaN,NaN,NaN,14 765,NaN,NaN,-2 528 676
8,Total energy supply,160 884 761,186 639 583,-4 675 079,122 498 648,28 063 288,14 046 066,8 544 353,47 562 110,70 807,84 442,563 718 983
9,Transfers,-40 661,-9 389 954,10 501 947,NaN,NaN,NaN,NaN,-1 251,NaN,NaN,1 070 079
10,Statistical differences,-231 349,466 495,1 476 304,1 012 173,NaN,NaN,5 598,-1 792,-303 648,43 197,2 466 977
11,Electricity plants,-71 828 261,-1 980 508,-7 687 345,-34 446 543,-27 864 935,-14 046 066,-6 622 247,-3 580 170,73 890 188,-36 542,-94 202 433
12,CHP plants,-25 263 716,-294,-761 394,-13 418 020,-193 750,NaN,-136 797,-2 725 893,13 624 015,9 552 827,-19 323 025
13,Heat plants,-1 003 156,-27 378,-483 508,-2 617 182,-4 601,NaN,-61 244,-482 124,-15 611,4 119 715,-575 094
14,Gas works,-364 221,-125,-113 375,192 695,NaN,NaN,NaN,-8 871,NaN,NaN,-293 899
15,Oil refineries,NaN,-176 865 213,173 046 376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3 818 836
16,Coal transformation,-11 984 053,NaN,-111 380,-2 686,NaN,NaN,NaN,-6 844,NaN,NaN,-12 104 965
17,Liquefication plants,-434 600,601 916,NaN,-749 204,NaN,NaN,NaN,NaN,NaN,NaN,-581 888
18,Other transformation,-15 407,1 948 968,-1 489 906,-538 257,NaN,NaN,NaN,-3 398 232,NaN,-22 801,-3 515 637
19,Energy industry own use,-3 838 596,-489 144,-8 953 671,-11 487 373,NaN,NaN,-20,-598 580,-7 426 007,-1 550 806,-34 344 200
20,Losses,-100 085,-355 025,-12 892,-932 473,NaN,NaN,-684,-10 381,-6 929 583,-794 978,-9 136 105
21,Total final consumption,45 780 649,549 318,160 736 073,59 511 775,NaN,NaN,1 728 956,36 747 967,72 910 159,11 395 054,389 359 953
22,Industry,36 610 337,133 685,12 319 359,22 782 798,NaN,NaN,27 061,8 859 760,30 685 482,5 244 241,116 662 727
23,Transport,2 605,619,104 293 595,4 129 486,NaN,NaN,NaN,3 172 450,1 111 286,NaN,112 710 044
24,Residential,3 169 695,NaN,8 658 237,17 749 743,NaN,NaN,1 345 692,23 009 499,19 731 073,4 295 954,77 959 897
25,Commercial and public services,1 450 506,NaN,3 411 667,7 628 658,NaN,NaN,290 369,1 098 886,16 409 040,1 442 240,31 731 369
26,Agriculture / forestry,648 743,420,4 456 532,392 677,NaN,NaN,53 202,425 600,2 100 539,128 822,8 206 538
27,Fishing,24,NaN,282 260,4 040,NaN,NaN,2 086,931,27 397,1 607,318 348
28,Non-specified,1 146 818,2 440,941 155,144 913,NaN,NaN,10 542,180 838,2 845 339,282 187,5 554 237
29,Non-energy use,2 751 917,412 152,26 373 264,6 679 455,NaN,NaN,NaN,NaN,NaN,NaN,36 216 790

In [5]:
#Change index
df = df.set_index('Navn')
#Ensure correct types, note that the space is weird

df = df.astype(str)
#Gammel - virker ikke for nyere versioner af python
df = df.apply(lambda x : pd.to_numeric(x.str.replace(' ', ''), errors='coerce'))
df

,Coal,Crude oil,Oil products,Natural gas,Nuclear,Hydro,"Wind, solar, etc.",Biofuels and waste,Electricity,Heat,Total
Navn,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Production,162104979.0,184982442.0,NaN,124572892.0,28063288.0,14046066.0,8544353.0,47283521.0,NaN,84408.0,569681952.0
Imports,32507817.0,97319436.0,53241664.0,36607027.0,NaN,NaN,NaN,1007380.0,2704618.0,259.0,223388204.0
Exports,-33419137.0,-95024497.0,-57078886.0,-37922383.0,NaN,NaN,NaN,-743557.0,-2633810.0,-225.0,-226822497.0
International marine bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
International aviation bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stock changes,-308897.0,-637799.0,-837857.0,-758887.0,NaN,NaN,NaN,14765.0,NaN,NaN,-2528676.0
Total energy supply,160884761.0,186639583.0,-4675079.0,122498648.0,28063288.0,14046066.0,8544353.0,47562110.0,70807.0,84442.0,563718983.0
Transfers,-40661.0,-9389954.0,10501947.0,NaN,NaN,NaN,NaN,-1251.0,NaN,NaN,1070079.0
Statistical differences,-231349.0,466495.0,1476304.0,1012173.0,NaN,NaN,5598.0,-1792.0,-303648.0,43197.0,2466977.0
Electricity plants,-71828261.0,-1980508.0,-7687345.0,-34446543.0,-27864935.0,-14046066.0,-6622247.0,-3580170.0,73890188.0,-36542.0,-94202433.0
CHP plants,-25263716.0,-294.0,-761394.0,-13418020.0,-193750.0,NaN,-136797.0,-2725893.0,13624015.0,9552827.0,-19323025.0
Heat plants,-1003156.0,-27378.0,-483508.0,-2617182.0,-4601.0,NaN,-61244.0,-482124.0,-15611.0,4119715.0,-575094.0
Gas works,-364221.0,-125.0,-113375.0,192695.0,NaN,NaN,NaN,-8871.0,NaN,NaN,-293899.0
Oil refineries,NaN,-176865213.0,173046376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3818836.0
Coal transformation,-11984053.0,NaN,-111380.0,-2686.0,NaN,NaN,NaN,-6844.0,NaN,NaN,-12104965.0
Liquefication plants,-434600.0,601916.0,NaN,-749204.0,NaN,NaN,NaN,NaN,NaN,NaN,-581888.0
Other transformation,-15407.0,1948968.0,-1489906.0,-538257.0,NaN,NaN,NaN,-3398232.0,NaN,-22801.0,-3515637.0
Energy industry own use,-3838596.0,-489144.0,-8953671.0,-11487373.0,NaN,NaN,-20.0,-598580.0,-7426007.0,-1550806.0,-34344200.0
Losses,-100085.0,-355025.0,-12892.0,-932473.0,NaN,NaN,-684.0,-10381.0,-6929583.0,-794978.0,-9136105.0
Total final consumption,45780649.0,549318.0,160736073.0,59511775.0,NaN,NaN,1728956.0,36747967.0,72910159.0,11395054.0,389359953.0
Industry,36610337.0,133685.0,12319359.0,22782798.0,NaN,NaN,27061.0,8859760.0,30685482.0,5244241.0,116662727.0
Transport,2605.0,619.0,104293595.0,4129486.0,NaN,NaN,NaN,3172450.0,1111286.0,NaN,112710044.0
Residential,3169695.0,NaN,8658237.0,17749743.0,NaN,NaN,1345692.0,23009499.0,19731073.0,4295954.0,77959897.0
Commercial and public services,1450506.0,NaN,3411667.0,7628658.0,NaN,NaN,290369.0,1098886.0,16409040.0,1442240.0,31731369.0
Agriculture / forestry,648743.0,420.0,4456532.0,392677.0,NaN,NaN,53202.0,425600.0,2100539.0,128822.0,8206538.0
Fishing,24.0,NaN,282260.0,4040.0,NaN,NaN,2086.0,931.0,27397.0,1607.0,318348.0
Non-specified,1146818.0,2440.0,941155.0,144913.0,NaN,NaN,10542.0,180838.0,2845339.0,282187.0,5554237.0
Non-energy use,2751917.0,412152.0,26373264.0,6679455.0,NaN,NaN,NaN,NaN,NaN,NaN,36216790.0

dictionary Key Figures

In [6]:
key_figures = {}

Total Final Consumption

In [8]:
total_final_consumption = (df['Total'].loc['Total final consumption'] - df['Total'].loc['Non-energy use'])*-1
key_figures['Total final consumption'] = total_final_consumption 
key_figures

{'Total final consumption': np.float64(-353143163.0)}

Exit Energy

In [14]:
exit_energy = {}

sectors = ['Industry', 'Transport', 'Residential','Commercial and public services', 'Agriculture / forestry', 'Fishing','Non-specified']
energy_forms = ['Coal', 'Crude oil', 'Oil products', 'Natural gas', 'Nuclear', 'Hydro', 'Wind, solar, etc.', 'Biofuels and waste', 'Electricity', 'Heat']
validation = 0
for sector in sectors:
    sector_dict = {}
    energy_forms_dict = {}

    total_share = abs(df['Total'].loc[sector] / total_final_consumption)
    sector_dict['Share of total final consumption'] = total_share

    validation += total_share

    for energy_form in energy_forms:
        
        energy_share = df[energy_form].loc[sector] / df['Total'].loc[sector]

        ''' Если результат вычисления является NaN (что может произойти, если нет данных для данной формы энергии), 
        то доля устанавливается в 0.'''
        if np.isnan(energy_share): 
            energy_share = 0

        energy_forms_dict[energy_form] = energy_share

    sector_dict['Share of energyforms'] = energy_forms_dict

    exit_energy[sector] = sector_dict

print(validation)
key_figures['Exit energy'] = exit_energy

0.9999999915048617

Transport electricity, district heating, and oil products

In [ ]:
transport_losses = {}
transported_energy = ['Electricity','Heat']
for energy in transported_energy:
    loss = abs(df[energy].loc['losses'])/df[energy].loc['Total final consumtion']
    transport_losses[energy] = loss
key_figures['Transport losses'] = transport_losses

Energy industry own use

In [ ]:
entry_energy = {}
sector = 'Energy Industry own use'
energy_forms = ['Coal', 'Crude oil', 'Oil products', 'Natural gas', 'Nuclear', 'Hydro', 'Wind, solar, etc.', 'Biofuels and waste', 'Electricity', 'Heat']

sector_dict = {}
energy_forms_dict = {}

total_share = abs(df['Total'].loc[sector]/total_final_consumption)
sector_dict['Share of total final consumption'] = total_share

for energy_form in energy_forms:
    energy_share = df[energy_form].loc[sector]/df['Total'].loc[sector]
    if np.isnan(energy_share): 
            energy_share = 0
    energy_forms_dict[energy_form] = energy_share

sector_dict['Share of energyforms'] = energy_forms_dict

entry_energy[sector] = sector_dict

 Heat Distribution

In [ ]:
heat_distribution = {}

total_heat_production = df['Heat'].loc['CHP plants'] +df['Heat'].loc['Heat plants']

chp_share = df['Heat'].loc['CHP plants']/ total_heat_production
heat_plants_share = df['Heat'].loc['Heat plants']/ total_heat_production

heat_distribution['CHP plants'] = chp_share
heat_distribution['Heat plants'] = heat_plants_share

entry_energy['Heat production distributiom'] = heat_distribution

Electricity consumption on heat plants

In [ ]:
heat_electricity_consunption = {}
share = abs(df['Electricity'].loc['Heat plants']/df['Heat'].loc['Heat plants'])

heat_electricity_consunption['Share of heat production on heat plants'] = share

entry_energy['Electricity consumption on heat plants'] = heat_electricity_consunption

Cm-value
(amount of electricity produced on CHP plants)

In [ ]:
electricity_heat_production_ratio = {}
share = abs(df['electricity'].loc['CHP plants']/df['Heat'].loc['CHP plants'])

electricity_heat_production_ratio['Cm-value'] = share
entry_energy['Electricity and heat production ratio'] = electricity_heat_production_ratio

 Fuel share electricity only plants

In [ ]:
electricity_only_fuel_share = {}

hydro_share = abs(df['Hydro'].loc['Electricity plants']/df['Electricity'].loc['Electricity plants'])
re_share = abs(df['Wind, solar, etc.'].loc('Electricity plants')/df['Electricity'].loc('Electricity plants'))
fuel_share = 1 - (hydro_share+re_share)

electricity_only_fuel_share['Hydro'] = hydro_share
electricity_only_fuel_share['Wind, solar, etc.'] = re_share
electricity_only_fuel_share['Fuel based plants'] = fuel_share

entry_energy['Electricity only fuel share'] = electricity_only_fuel_share

Oil product production distribution

 Fuel share CHP Plants

In [ ]:
# Fuel share Heat plants
heat_plants_fuel_share = {}

re_share = abs(df['Wind, solar, etc.'].loc['Heat plants'] / (df['Electricity'].loc['Heat plants'] + iea['Heat'].loc['Heat plants']))
fuel_share = 1 - (re_share)

heat_plants_fuel_share['Wind, solar, etc.'] = re_share
heat_plants_fuel_share['Fuel based plants'] = fuel_share

entry_energy['Heat plants fuel share'] = heat_plants_fuel_share

In [ ]:
# Fuel share CHP Plants
chp_fuel_share = {}

re_share = abs(df['Wind, solar, etc.'].loc['CHP plants'] / (df['Electricity'].loc['CHP plants'] + iea['Heat'].loc['CHP plants']))
fuel_share = 1 - (re_share)

chp_fuel_share['Wind, solar, etc.'] = re_share
chp_fuel_share['Fuel based plants'] = fuel_share

entry_energy['CHP fuel share'] = chp_fuel_share

In [ ]:
thermal_plant_efficiency = {}

def checkNan(a: float):
    return a if np.isnan(a) == False else 0

# Electricity only
#chekNan tjekke, hvic er Nan så er 0
sector = 'Electricity plants'
thermal_plant_electricity = checkNan(df['Electricity'].loc[sector]) + checkNan(df['Hydro'].loc[sector]) + checkNan(df['Wind, solar, etc.'].loc[sector])
thermal_plant_input = abs(checkNan(df['Coal'].loc[sector]) + checkNan(df['Crude oil'].loc[sector]) + checkNan(df['Oil products'].loc[sector]) + checkNan(df['Natural gas'].loc[sector]) + checkNan(df['Nuclear'].loc[sector]))
efficiency = thermal_plant_electricity / thermal_plant_input
thermal_plant_efficiency[sector] = efficiency

# CHP
sector = 'CHP plants'
thermal_plant_electricity = checkNan(df['Electricity'].loc[sector]) + checkNan(df['Hydro'].loc[sector]) + checkNan(df['Heat'].loc[sector])
thermal_plant_input = abs(checkNan(df['Coal'].loc[sector]) + checkNan(df['Crude oil'].loc[sector]) + checkNan(df['Oil products'].loc[sector]) + checkNan(df['Natural gas'].loc[sector]) + checkNan(df['Nuclear'].loc[sector]))
efficiency = thermal_plant_electricity / thermal_plant_input
thermal_plant_efficiency[sector] = efficiency

# Heat
sector = 'Heat plants'
thermal_plant_electricity = checkNan(df['Wind, solar, etc.'].loc[sector]) + checkNan(df['Heat'].loc[sector])
thermal_plant_input = abs(checkNan(df['Coal'].loc[sector]) + checkNan(df['Crude oil'].loc[sector]) + checkNan(df['Oil products'].loc[sector]) + checkNan(df['Natural gas'].loc[sector]) + checkNan(df['Nuclear'].loc[sector]))
efficiency = thermal_plant_electricity / thermal_plant_input
thermal_plant_efficiency[sector] = efficiency

# Oil refineries
sector = 'Oil refineries'
thermal_plant_electricity = checkNan(df['Electricity'].loc[sector]) + checkNan(df['Heat'].loc[sector])
thermal_plant_input = abs(checkNan(df['Coal'].loc[sector]) + checkNan(df['Crude oil'].loc[sector]) + checkNan(df['Oil products'].loc[sector]) + checkNan(df['Natural gas'].loc[sector]) + checkNan(df['Nuclear'].loc[sector]))
efficiency = thermal_plant_electricity / thermal_plant_input
thermal_plant_efficiency[sector] = efficiency

entry_energy['Thermal plant efficiencies'] = thermal_plant_efficiency

In [ ]:
def checkNan(a: float):
    return a if np.isnan(a) == False else 0

fuel_distribution = {}

fuels = ['Coal', 'Crude oil', 'Oil products', 'Natural gas', 'Nuclear', 'Biofuels and waste']
sectors = ['Electricity plants', 'CHP plants', 'Heat plants']

for sector in sectors:
    sector_dict = {}
    total_fuel_consumption = 0

    for fuel in fuels:
        total_fuel_consumption = total_fuel_consumption + checkNan(df[fuel].loc[sector])

    for fuel in fuels:
        share = df[fuel].loc[sector] / total_fuel_consumption
        sector_dict[fuel] = share

    fuel_distribution[sector] = sector_dict

entry_energy['Fuel distribution'] = fuel_distribution

In [ ]:
import json
with open('result_2015.json', 'w') as fp:
    json.dump(key_figures, fp, indent=4)